body {
  margin: 0;
  overflow-x: hidden;  
}

.container {
  background: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 10px;
  color: white;
  width: 600px;
  height: 90vh;
  overflow-y: auto;
}


input {
  padding: 8px;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

.event-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

button {
  padding: 6px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.bg {
  height: 100vh;
  width: 100vw;   
  background-image: url("./assets/project.webp");
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat; 

  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}

